@{
    ViewBag.Title = "Home Page";
}

<br />
    <p>
        <center>
            <img style=" height: 300px; width: 600px"  src="~/Content/batman-superheroes.jpg" alt="OG Batman"/>
        </center>
    </p>